nav {
    width: 100%;
    background-color: var(--seond-bg);
    color: var(--seond-text);
    display: flex;
    position: fixed;
    top: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, color 0.5s;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--seond-text);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.4s;
}

nav ul li a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}