:root {
    --bg-color: ;
    --text-color: ;
    --accent-color: #FFCC00;
    --seond-bg: #009B4D;
    --seond-text: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
}