# Default ignored files
/shelf/
/workspace.xml
/modules.xml
/Websute Meditatii.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
